In [1]:
import pandas as pd
import numpy as nop
import sqlite3

In [2]:
nba = pd.read_csv('https://raw.githubusercontent.com/jkropko/contrans/main/examples/ASA%20All%20NBA%20Raw%20Data.csv')

In [3]:
nba.columns

Index(['game_id', 'game_date', 'OT', 'H_A', 'Team_Abbrev', 'Team_Score',
       'Team_pace', 'Team_efg_pct', 'Team_tov_pct', 'Team_orb_pct',
       'Team_ft_rate', 'Team_off_rtg', 'Inactives', 'Opponent_Abbrev',
       'Opponent_Score', 'Opponent_pace', 'Opponent_efg_pct',
       'Opponent_tov_pct', 'Opponent_orb_pct', 'Opponent_ft_rate',
       'Opponent_off_rtg', 'player', 'player_id', 'starter', 'mp', 'fg', 'fga',
       'fg_pct', 'fg3', 'fg3a', 'fg3_pct', 'ft', 'fta', 'ft_pct', 'orb', 'drb',
       'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts', 'plus_minus',
       'did_not_play', 'is_inactive', 'ts_pct', 'efg_pct', 'fg3a_per_fga_pct',
       'fta_per_fga_pct', 'orb_pct', 'drb_pct', 'trb_pct', 'ast_pct',
       'stl_pct', 'blk_pct', 'tov_pct', 'usg_pct', 'off_rtg', 'def_rtg', 'bpm',
       'season', 'minutes', 'double_double', 'triple_double', 'DKP', 'FDP',
       'SDP', 'DKP_per_minute', 'FDP_per_minute', 'SDP_per_minute',
       'pf_per_minute', 'ts', 'last_60_minutes_per_game_starting',
       'last_60_minutes_per_game_bench', 'PG%', 'SG%', 'SF%', 'PF%', 'C%',
       'active_position_minutes'],
      dtype='object')

In [4]:
pd.set_option('display.max_rows', 90)
nba.head(3).T

,0,1,2
game_id,202204100BRK,202204100BRK,202204100BRK
game_date,2022-04-10,2022-04-10,2022-04-10
OT,0,0,0
H_A,A,A,A
Team_Abbrev,IND,IND,IND
Team_Score,126,126,126
Team_pace,103.9,103.9,103.9
Team_efg_pct,0.543,0.543,0.543
Team_tov_pct,5.9,5.9,5.9
Team_orb_pct,20.8,20.8,20.8
Team_ft_rate,0.125,0.125,0.125
Team_off_rtg,121.3,121.3,121.3
Inactives,"Chris Duarte, Nate Hinton, Ricky Rubio, Myles ...","Chris Duarte, Nate Hinton, Ricky Rubio, Myles ...","Chris Duarte, Nate Hinton, Ricky Rubio, Myles ..."
Opponent_Abbrev,BRK,BRK,BRK
Opponent_Score,134,134,134
Opponent_pace,103.9,103.9,103.9
Opponent_efg_pct,0.691,0.691,0.691
Opponent_tov_pct,17.9,17.9,17.9
Opponent_orb_pct,29.6,29.6,29.6
Opponent_ft_rate,0.272,0.272,0.272
Opponent_off_rtg,129.0,129.0,129.0
player,Tyrese Haliburton,Buddy Hield,Oshae Brissett
player_id,halibty01,hieldbu01,brissos01
starter,1,1,1
mp,39:28,35:53,35:47
fg,7,8,10
fga,14,23,20
fg_pct,0.5,0.348,0.5
fg3,2,5,5
fg3a,5,14,10
fg3_pct,0.4,0.357,0.5
ft,1,0,3
fta,1,0,4
ft_pct,1.0,0.0,0.75
orb,2,0,3
drb,2,3,5
trb,4,3,8
ast,10,6,3
stl,2,3,1
blk,0,0,0
tov,1,2,0
pf,0,3,5
pts,17,21,28
plus_minus,-9,0,-9
did_not_play,0,0,0
is_inactive,0,0,0
ts_pct,0.589,0.457,0.643
efg_pct,0.571,0.457,0.625
fg3a_per_fga_pct,0.357,0.609,0.5
fta_per_fga_pct,0.071,0.0,0.2
orb_pct,4.6,0.0,7.6
drb_pct,9.0,14.9,24.8
trb_pct,6.1,5.0,13.4
ast_pct,31.6,22.1,12.0
stl_pct,2.3,3.9,1.3
blk_pct,0.0,0.0,0.0
tov_pct,6.5,8.0,0.0
usg_pct,15.7,28.0,24.5
off_rtg,137,94,137
def_rtg,132,128,133
bpm,1.7,-2.3,4.4
season,2022,2022,2022
minutes,39.466667,35.883333,35.783333
double_double,1,0,0
triple_double,0,0,0
DKP,43.0,41.25,47.0
FDP,41.8,40.6,45.1
SDP,44.5,43.25,48.0
DKP_per_minute,1.089527,1.149559,1.313461
FDP_per_minute,1.059122,1.131444,1.260363
SDP_per_minute,1.127534,1.205295,1.341407
pf_per_minute,0.0,0.083604,0.13973
ts,14.44,23.0,21.76
last_60_minutes_per_game_starting,36.176282,35.833974,30.988194
last_60_minutes_per_game_bench,19.535428,19.35058,16.733827
PG%,62.0,4.0,0.0
SG%,35.0,53.0,0.0
SF%,4.0,43.0,20.0
PF%,0.0,1.0,75.0
C%,0.0,0.0,5.0
active_position_minutes,64.74186,56.265965,44.631041

## Narrow Data to Columns We Care About

In [5]:
nba = nba[['game_id', 'game_date', 'OT', 'H_A', 'Team_Abbrev', 'Team_Score',
       'Team_pace', 'Team_efg_pct', 'Team_tov_pct', 'Team_orb_pct',
       'Team_ft_rate', 'Team_off_rtg', 'Inactives', 'Opponent_Abbrev',
       'player', 'player_id', 'starter', 'mp', 'fg', 'fga',
       'fg_pct', 'fg3', 'fg3a', 'fg3_pct', 'ft', 'fta', 'ft_pct', 'orb', 'drb',
       'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts', 'plus_minus',
       'did_not_play', 'is_inactive', 'off_rtg', 'def_rtg', 'bpm']]

In [6]:
pd.set_option('display.max_rows', 81)
nba.head(3).T

,0,1,2
game_id,202204100BRK,202204100BRK,202204100BRK
game_date,2022-04-10,2022-04-10,2022-04-10
OT,0,0,0
H_A,A,A,A
Team_Abbrev,IND,IND,IND
Team_Score,126,126,126
Team_pace,103.9,103.9,103.9
Team_efg_pct,0.543,0.543,0.543
Team_tov_pct,5.9,5.9,5.9
Team_orb_pct,20.8,20.8,20.8
Team_ft_rate,0.125,0.125,0.125
Team_off_rtg,121.3,121.3,121.3
Inactives,"Chris Duarte, Nate Hinton, Ricky Rubio, Myles ...","Chris Duarte, Nate Hinton, Ricky Rubio, Myles ...","Chris Duarte, Nate Hinton, Ricky Rubio, Myles ..."
Opponent_Abbrev,BRK,BRK,BRK
player,Tyrese Haliburton,Buddy Hield,Oshae Brissett
player_id,halibty01,hieldbu01,brissos01
starter,1,1,1
mp,39:28,35:53,35:47
fg,7,8,10
fga,14,23,20
fg_pct,0.5,0.348,0.5
fg3,2,5,5
fg3a,5,14,10
fg3_pct,0.4,0.357,0.5
ft,1,0,3
fta,1,0,4
ft_pct,1.0,0.0,0.75
orb,2,0,3
drb,2,3,5
trb,4,3,8
ast,10,6,3
stl,2,3,1
blk,0,0,0
tov,1,2,0
pf,0,3,5
pts,17,21,28
plus_minus,-9,0,-9
did_not_play,0,0,0
is_inactive,0,0,0
off_rtg,137,94,137
def_rtg,132,128,133
bpm,1.7,-2.3,4.4

## First Normal Form
- superkey is player_id and game_id : have a primary key
- Non-atomic data? Yes- the inactives list
    - We have this inactives list in the inactive column (a 1 or 0 entry) so we can just drop it
- No repeating groups? No because we dealt with the non-atomic data already

Let's fix the atomic data problem:

In [7]:
nba= nba.drop(['Inactives'], axis =1)
#Drops inactives column

In [8]:
nba.head(3).T

                                 0             1               2
game_id               202204100BRK  202204100BRK    202204100BRK
game_date               2022-04-10    2022-04-10      2022-04-10
OT                               0             0               0
H_A                              A             A               A
Team_Abbrev                    IND           IND             IND
Team_Score                     126           126             126
Team_pace                    103.9         103.9           103.9
Team_efg_pct                 0.543         0.543           0.543
Team_tov_pct                   5.9           5.9             5.9
Team_orb_pct                  20.8          20.8            20.8
Team_ft_rate                 0.125         0.125           0.125
Team_off_rtg                 121.3         121.3           121.3
Opponent_Abbrev                BRK           BRK             BRK
player           Tyrese Haliburton   Buddy Hield  Oshae Brissett
player_id                halibty01     hieldbu01       brissos01
starter                          1             1               1
mp                           39:28         35:53           35:47
fg                               7             8              10
fga                             14            23              20
fg_pct                         0.5         0.348             0.5
fg3                              2             5               5
fg3a                             5            14              10
fg3_pct                        0.4         0.357             0.5
ft                               1             0               3
fta                              1             0               4
ft_pct                         1.0           0.0            0.75
orb                              2             0               3
drb                              2             3               5
trb                              4             3               8
ast                             10             6               3
stl                              2             3               1
blk                              0             0               0
tov                              1             2               0
pf                               0             3               5
pts                             17            21              28
plus_minus                      -9             0              -9
did_not_play                     0             0               0
is_inactive                      0             0               0
off_rtg                        137            94             137
def_rtg                        132           128             133
bpm                            1.7          -2.3             4.4

## Second Normal Form
- Every non-prime column must depend on the entire primary key (player_id and game_id combo) and not just PART of the primary key (ex. just game_id OR just player_id)
    - False because we have stuff for just game and not player- ex. did game go into overtime? Just depends on game and not the player
    - Can only depend on part of primary key if your primary key is more than one column
    - Deal with this in a few different ways 
        - create one single column that is player and game id together (replace lots of columns with one column)
            - Now we have one primary key and that is the game_player_id
            - Therefore game_id and player_id are both non-prime

In [9]:
nba['game_player_id'] = nba['game_id'] + '_' + nba['player_id']

In [10]:
nba.head(3).T

,0,1,2
game_id,202204100BRK,202204100BRK,202204100BRK
game_date,2022-04-10,2022-04-10,2022-04-10
OT,0,0,0
H_A,A,A,A
Team_Abbrev,IND,IND,IND
Team_Score,126,126,126
Team_pace,103.9,103.9,103.9
Team_efg_pct,0.543,0.543,0.543
Team_tov_pct,5.9,5.9,5.9
Team_orb_pct,20.8,20.8,20.8
Team_ft_rate,0.125,0.125,0.125
Team_off_rtg,121.3,121.3,121.3
Opponent_Abbrev,BRK,BRK,BRK
player,Tyrese Haliburton,Buddy Hield,Oshae Brissett
player_id,halibty01,hieldbu01,brissos01
starter,1,1,1
mp,39:28,35:53,35:47
fg,7,8,10
fga,14,23,20
fg_pct,0.5,0.348,0.5
fg3,2,5,5
fg3a,5,14,10
fg3_pct,0.4,0.357,0.5
ft,1,0,3
fta,1,0,4
ft_pct,1.0,0.0,0.75
orb,2,0,3
drb,2,3,5
trb,4,3,8
ast,10,6,3
stl,2,3,1
blk,0,0,0
tov,1,2,0
pf,0,3,5
pts,17,21,28
plus_minus,-9,0,-9
did_not_play,0,0,0
is_inactive,0,0,0
off_rtg,137,94,137
def_rtg,132,128,133
bpm,1.7,-2.3,4.4
game_player_id,202204100BRK_halibty01,202204100BRK_hieldbu01,202204100BRK_brissos01

## Third Normal Form 
### Part 1
- Calculated columns:
    - Should remove them because we can recalculate them if we need them 
    - Ex. 
        - fg_pct
        - fg3_pct
        - ft_pct
        - trb

In [11]:
nba = nba.drop(['fg_pct', 'fg3_pct', 'ft_pct', 'trb'], axis=1)

### Part 2
- No transitive dependencies. List of them:
    - Some columns depend on player
        - plyaer name
    - Some columns depend on game
        - game_date
    - Some columns depend on team 
        - Team_Abbrev
    - Some columns depend on team + game
        - Team_Score
    - Each of these will get a separate table
    - What will be left is the player + game table

In [12]:
nba.head(3).T
#example of transitive dependency- game date depends on game id - one game has one date

,0,1,2
game_id,202204100BRK,202204100BRK,202204100BRK
game_date,2022-04-10,2022-04-10,2022-04-10
OT,0,0,0
H_A,A,A,A
Team_Abbrev,IND,IND,IND
Team_Score,126,126,126
Team_pace,103.9,103.9,103.9
Team_efg_pct,0.543,0.543,0.543
Team_tov_pct,5.9,5.9,5.9
Team_orb_pct,20.8,20.8,20.8
Team_ft_rate,0.125,0.125,0.125
Team_off_rtg,121.3,121.3,121.3
Opponent_Abbrev,BRK,BRK,BRK
player,Tyrese Haliburton,Buddy Hield,Oshae Brissett
player_id,halibty01,hieldbu01,brissos01
starter,1,1,1
mp,39:28,35:53,35:47
fg,7,8,10
fga,14,23,20
fg3,2,5,5
fg3a,5,14,10
ft,1,0,3
fta,1,0,4
orb,2,0,3
drb,2,3,5
ast,10,6,3
stl,2,3,1
blk,0,0,0
tov,1,2,0
pf,0,3,5
pts,17,21,28
plus_minus,-9,0,-9
did_not_play,0,0,0
is_inactive,0,0,0
off_rtg,137,94,137
def_rtg,132,128,133
bpm,1.7,-2.3,4.4
game_player_id,202204100BRK_halibty01,202204100BRK_hieldbu01,202204100BRK_brissos01

In [13]:
nba_teamgame = nba[["Team_Abbrev", "game_id", "H_A", "Team_Score", "Team_pace", "Team_efg_pct", "Team_tov_pct", "Team_ft_rate", "Team_off_rtg","Opponent_Abbrev"]]
nba_teamgame

,Team_Abbrev,game_id,H_A,Team_Score,Team_pace,Team_efg_pct,Team_tov_pct,Team_ft_rate,Team_off_rtg,Opponent_Abbrev
0,IND,202204100BRK,A,126,103.9,0.543,5.9,0.125,121.3,BRK
1,IND,202204100BRK,A,126,103.9,0.543,5.9,0.125,121.3,BRK
2,IND,202204100BRK,A,126,103.9,0.543,5.9,0.125,121.3,BRK
3,IND,202204100BRK,A,126,103.9,0.543,5.9,0.125,121.3,BRK
4,IND,202204100BRK,A,126,103.9,0.543,5.9,0.125,121.3,BRK
...,...,...,...,...,...,...,...,...,...,...
31603,LAC,202201130NOP,A,89,97.0,0.444,14.3,0.210,91.7,NOP
31604,LAC,202201150SAS,A,94,92.7,0.440,11.9,0.060,101.4,SAS
31605,LAC,202112220SAC,A,105,95.5,0.555,11.9,0.171,110.0,SAC
31606,LAC,202112260LAC,H,100,99.8,0.512,13.0,0.140,100.2,DEN
31607,LAC,202112270LAC,H,108,99.5,0.454,9.2,0.206,108.6,BRK

In [14]:
#Have duplicated columns
nba_teamgame = nba_teamgame.drop_duplicates()

In [15]:
nba_teamgame

,Team_Abbrev,game_id,H_A,Team_Score,Team_pace,Team_efg_pct,Team_tov_pct,Team_ft_rate,Team_off_rtg,Opponent_Abbrev
0,IND,202204100BRK,A,126,103.9,0.543,5.9,0.125,121.3,BRK
12,BRK,202204100BRK,H,134,103.9,0.691,17.9,0.272,129.0,IND
25,WAS,202204100CHO,A,108,97.7,0.489,8.7,0.170,110.5,CHO
37,CHO,202204100CHO,H,124,97.7,0.640,15.2,0.112,126.9,WAS
52,MIL,202204100CLE,A,115,101.9,0.511,10.5,0.284,112.9,CLE
...,...,...,...,...,...,...,...,...,...,...
21491,MIN,202112190MIN,H,111,91.8,0.565,9.0,0.312,120.9,DAL
21492,MIN,202112210DAL,A,102,93.9,0.538,16.2,0.215,108.6,DAL
21629,MIN,202112280MIN,H,88,93.1,0.441,9.6,0.153,94.5,NYK
21708,MIN,202112230UTA,A,116,102.1,0.530,11.6,0.089,113.7,UTA
21709,MIN,202112270MIN,H,108,99.0,0.522,12.5,0.156,109.1,BOS

In [16]:
#columns that depend on game
nba_game = nba[['game_id', 'OT', 'game_date']].drop_duplicates()

In [17]:
nba_players = nba[['player_id', 'player']].drop_duplicates()

In [18]:
nba_playergame = nba.drop([ 'player','OT', 'game_date','Team_orb_pct', "H_A", "Team_Score", "Team_pace", "Team_efg_pct", "Team_tov_pct", "Team_ft_rate", "Team_off_rtg", "Opponent_Abbrev" ], axis = 1)

In [19]:
nba_playergame

,game_id,Team_Abbrev,player_id,starter,mp,fg,fga,fg3,fg3a,ft,...,tov,pf,pts,plus_minus,did_not_play,is_inactive,off_rtg,def_rtg,bpm,game_player_id
0,202204100BRK,IND,halibty01,1,39:28,7,14,2,5,1,...,1,0,17,-9,0,0,137,132,1.7,202204100BRK_halibty01
1,202204100BRK,IND,hieldbu01,1,35:53,8,23,5,14,0,...,2,3,21,0,0,0,94,128,-2.3,202204100BRK_hieldbu01
2,202204100BRK,IND,brissos01,1,35:47,10,20,5,10,3,...,0,5,28,-9,0,0,137,133,4.4,202204100BRK_brissos01
3,202204100BRK,IND,jacksis01,1,32:01,3,4,0,0,1,...,2,5,7,3,0,0,89,128,-9.2,202204100BRK_jacksis01
4,202204100BRK,IND,mccontj01,1,30:52,5,15,3,7,1,...,0,3,14,7,0,0,104,126,-1.7,202204100BRK_mccontj01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31603,202201130NOP,LAC,gabriwe01,0,4:26,1,1,1,1,0,...,2,2,3,-4,0,0,62,110,-6.4,202201130NOP_gabriwe01
31604,202201150SAS,LAC,gabriwe01,0,0:00,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0.0,202201150SAS_gabriwe01
31605,202112220SAC,LAC,wrighmo01,0,1:28,0,0,0,0,0,...,0,0,0,1,0,0,217,103,24.4,202112220SAC_wrighmo01
31606,202112260LAC,LAC,wrighmo01,0,0:00,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0.0,202112260LAC_wrighmo01
31607,202112270LAC,LAC,wrighmo01,0,0:00,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0.0,202112270LAC_wrighmo01

Our 3rd NF Database has 4 tables(entites)

In [20]:
nba_game

            game_id  OT   game_date
0      202204100BRK   0  2022-04-10
25     202204100CHO   0  2022-04-10
52     202204100CLE   0  2022-04-10
77     202204100DAL   0  2022-04-10
103    202204100DEN   1  2022-04-10
...             ...  ..         ...
19708  202110300MIN   0  2021-10-30
19726  202112150DEN   0  2021-12-15
19748  202202010MIN   0  2022-02-01
20615  202203270BOS   0  2022-03-27
20679  202112270MIN   0  2021-12-27

[1230 rows x 3 columns]

In [21]:
nba_players

       player_id             player
0      halibty01  Tyrese Haliburton
1      hieldbu01        Buddy Hield
2      brissos01     Oshae Brissett
3      jacksis01     Isaiah Jackson
4      mccontj01     T.J. McConnell
...          ...                ...
31515  garrema01     Marcus Garrett
31535  chalmma01     Mario Chalmers
31538  holmaar01        Aric Holman
31540  scrubja01         Jay Scrubb
31590  prestja01      Jason Preston

[621 rows x 2 columns]

In [22]:
nba_teamgame

,Team_Abbrev,game_id,H_A,Team_Score,Team_pace,Team_efg_pct,Team_tov_pct,Team_ft_rate,Team_off_rtg,Opponent_Abbrev
0,IND,202204100BRK,A,126,103.9,0.543,5.9,0.125,121.3,BRK
12,BRK,202204100BRK,H,134,103.9,0.691,17.9,0.272,129.0,IND
25,WAS,202204100CHO,A,108,97.7,0.489,8.7,0.170,110.5,CHO
37,CHO,202204100CHO,H,124,97.7,0.640,15.2,0.112,126.9,WAS
52,MIL,202204100CLE,A,115,101.9,0.511,10.5,0.284,112.9,CLE
...,...,...,...,...,...,...,...,...,...,...
21491,MIN,202112190MIN,H,111,91.8,0.565,9.0,0.312,120.9,DAL
21492,MIN,202112210DAL,A,102,93.9,0.538,16.2,0.215,108.6,DAL
21629,MIN,202112280MIN,H,88,93.1,0.441,9.6,0.153,94.5,NYK
21708,MIN,202112230UTA,A,116,102.1,0.530,11.6,0.089,113.7,UTA
21709,MIN,202112270MIN,H,108,99.0,0.522,12.5,0.156,109.1,BOS

In [23]:
nba_playergame

,game_id,Team_Abbrev,player_id,starter,mp,fg,fga,fg3,fg3a,ft,...,tov,pf,pts,plus_minus,did_not_play,is_inactive,off_rtg,def_rtg,bpm,game_player_id
0,202204100BRK,IND,halibty01,1,39:28,7,14,2,5,1,...,1,0,17,-9,0,0,137,132,1.7,202204100BRK_halibty01
1,202204100BRK,IND,hieldbu01,1,35:53,8,23,5,14,0,...,2,3,21,0,0,0,94,128,-2.3,202204100BRK_hieldbu01
2,202204100BRK,IND,brissos01,1,35:47,10,20,5,10,3,...,0,5,28,-9,0,0,137,133,4.4,202204100BRK_brissos01
3,202204100BRK,IND,jacksis01,1,32:01,3,4,0,0,1,...,2,5,7,3,0,0,89,128,-9.2,202204100BRK_jacksis01
4,202204100BRK,IND,mccontj01,1,30:52,5,15,3,7,1,...,0,3,14,7,0,0,104,126,-1.7,202204100BRK_mccontj01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31603,202201130NOP,LAC,gabriwe01,0,4:26,1,1,1,1,0,...,2,2,3,-4,0,0,62,110,-6.4,202201130NOP_gabriwe01
31604,202201150SAS,LAC,gabriwe01,0,0:00,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0.0,202201150SAS_gabriwe01
31605,202112220SAC,LAC,wrighmo01,0,1:28,0,0,0,0,0,...,0,0,0,1,0,0,217,103,24.4,202112220SAC_wrighmo01
31606,202112260LAC,LAC,wrighmo01,0,0:00,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0.0,202112260LAC_wrighmo01
31607,202112270LAC,LAC,wrighmo01,0,0:00,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0.0,202112270LAC_wrighmo01

### Buidling Database

In [24]:
nba_db = sqlite3.connect("nba.db")
#creates empty DB file in your folder

In [25]:
nba_game.to_sql('games', nba_db, index=False, chunksize = 1000, if_exists='replace')
#chunksize is an operation python needs to do to give 1000 rows at a time, 
#the bigger the chunksize the faster the operation
nba_playergame.to_sql('playergame', nba_db, index=False, chunksize = 1000, if_exists='replace')
nba_teamgame.to_sql('teamgame', nba_db, index=False, chunksize = 1000, if_exists='replace')
nba_players.to_sql('players', nba_db, index=False, chunksize = 1000, if_exists='replace')

621

In [26]:
#621 is number of rows in the last file

#### queries

In [27]:
myquery = '''
SELECT * 
FROM teamgame
WHERE Team_Abbrev='CLE'
'''
#give all columns from team game table where abbrev is cleveland

pd.read_sql(myquery, nba_db)

,Team_Abbrev,game_id,H_A,Team_Score,Team_pace,Team_efg_pct,Team_tov_pct,Team_ft_rate,Team_off_rtg,Opponent_Abbrev
0,CLE,202204100CLE,H,133,101.9,0.644,9.0,0.128,130.5,MIL
1,CLE,202204080BRK,A,107,89.6,0.537,8.0,0.232,119.4,BRK
2,CLE,202204050ORL,A,115,96.8,0.581,10.3,0.174,118.8,ORL
3,CLE,202204030CLE,H,108,95.0,0.545,8.9,0.295,113.7,PHI
4,CLE,202204020NYK,A,119,92.1,0.636,9.1,0.198,129.2,NYK
...,...,...,...,...,...,...,...,...,...,...
77,CLE,202112300WAS,A,93,94.2,0.470,11.4,0.181,98.7,WAS
78,CLE,202112310CLE,H,118,93.2,0.619,8.7,0.167,126.7,ATL
79,CLE,202201020CLE,H,108,92.8,0.500,7.4,0.227,116.4,IND
80,CLE,202201310CLE,H,93,88.5,0.482,9.1,0.143,105.0,NOP
81,CLE,202202020HOU,A,104,97.2,0.556,15.6,0.188,107.0,HOU

In [28]:
#style and syntax for a SQL query 
myquery = '''
select * from players where player like 'kevin%' order by player

'''
pd.read_sql(myquery, nba_db)
#gives all data from players table where their name is Kevin alphabetically
#give all rows/columns from players where the player name is kevin in alphabetical order

   player_id            player
0  duranke01      Kevin Durant
1  huertke01     Kevin Huerter
2   knoxke01        Kevin Knox
3   loveke01        Kevin Love
4  pangoke01      Kevin Pangos
5  porteke02  Kevin Porter Jr.

In [29]:
#Better practice is to do it multiline and use caps and indentation
myquery = '''
SELECT * 
FROM players 
WHERE player 
    LIKE 'kevin%' 
ORDER BY player

'''
pd.read_sql(myquery, nba_db)
#leave like on same line because it is part of player or can indent it

   player_id            player
0  duranke01      Kevin Durant
1  huertke01     Kevin Huerter
2   knoxke01        Kevin Knox
3   loveke01        Kevin Love
4  pangoke01      Kevin Pangos
5  porteke02  Kevin Porter Jr.

### Joins

In [30]:
#joins are how we merge one table with another
nfl_dict = {'city':['Buffalo','Miami','Boston','New York','Cleveland','Cincinnati',
                       'Pittsburgh','Baltimore','Kansas City','Las Vegas','Los Angeles','Denver',
                       'Nashville','Jacksonville','Houston','Indianapolis','Philadelphia','Dallas',
                       'Washington','Atlanta','Charlotte','Tampa Bay','New Orleans','San Francisco',
                       'Phoenix', 'Seattle','Chicago','Green Bay','Minneapolis','Detroit'],
           'footballteam':['Buffalo Bills','Miami Dolphins','New England Patriots',
                           ['New York Jets', 'New York Giants'],'Cleveland Browns','Cincinnati Bengals',
                          'Pittsburgh Steelers','Baltimore Ravens','Kansas City Chiefs',
                           'Las Vegas Raiders',['L.A. Chargers','L.A. Rams'],'Denver Broncos',
                          'Tennessee Titans','Jacksonville Jaguars','Houston Texans',
                           'Indianapolis Colts','Philadelphia Eagles','Dallas Cowboys',
                           'Washington Bunnyrabbits','Atlanta Falcons','Carolina Panthers',
                           'Tampa Bay Buccaneers','New Orleans Saints', 'San Francisco 49ers',
                           'Arizona Cardinals','Seattle Seahawks','Chicago Bears',
                           'Green Bay Packers','Minnesota Vikings','Detroit Lions']}
nfl_df = pd.DataFrame(nfl_dict)
nfl_df

             city                      footballteam
0         Buffalo                     Buffalo Bills
1           Miami                    Miami Dolphins
2          Boston              New England Patriots
3        New York  [New York Jets, New York Giants]
4       Cleveland                  Cleveland Browns
5      Cincinnati                Cincinnati Bengals
6      Pittsburgh               Pittsburgh Steelers
7       Baltimore                  Baltimore Ravens
8     Kansas City                Kansas City Chiefs
9       Las Vegas                 Las Vegas Raiders
10    Los Angeles        [L.A. Chargers, L.A. Rams]
11         Denver                    Denver Broncos
12      Nashville                  Tennessee Titans
13   Jacksonville              Jacksonville Jaguars
14        Houston                    Houston Texans
15   Indianapolis                Indianapolis Colts
16   Philadelphia               Philadelphia Eagles
17         Dallas                    Dallas Cowboys
18     Washington           Washington Bunnyrabbits
19        Atlanta                   Atlanta Falcons
20      Charlotte                 Carolina Panthers
21      Tampa Bay              Tampa Bay Buccaneers
22    New Orleans                New Orleans Saints
23  San Francisco               San Francisco 49ers
24        Phoenix                 Arizona Cardinals
25        Seattle                  Seattle Seahawks
26        Chicago                     Chicago Bears
27      Green Bay                 Green Bay Packers
28    Minneapolis                 Minnesota Vikings
29        Detroit                     Detroit Lions

In [31]:
nba_dict = {'city':['Boston','New York','Philadelphia','Brooklyn','Toronto',
                   'Cleveland','Chicago','Detroit','Milwaukee','Indianapolis',
                   'Atlanta', 'Washington','Orlando','Miami','Charlotte',
                   'Los Angeles','San Francisco','Portland','Sacramento',
                   'Phoenix','San Antonio','Dallas','Houston','Oklahoma City',
                   'Minneapolis','Denver','Salt Lake City','Memphis','New Orleans'],
           'basketballteam':['Boston Celtics','New York Knicks','Philadelphia 76ers',
                             'Brooklyn Nets','Toronto Raptors',
                            'Cleveland Cavaliers','Chicago Bulls','Detroit Pistons',
                             'Milwaukee Bucks','Indiana Pacers',
                            'Atlanta Hawks','Washington Wizards','Orlando Magic',
                             'Miami Heat','Charlotte Hornets',
                            ['L.A. Lakers','L.A. Clippers'],'Golden State Warriors',
                             'Portland Trailblazers','Sacramento Kings',
                            'Phoenix Suns','San Antonio Spurs','Dallas Mavericks',
                             'Houston Rockets','Oklahoma City Thunder',
                            'Minnesota Timberwolves','Denver Nuggets',
                             'Utah Jazz','Memphis Grizzlies','New Orleans Pelicans']}
nba_df = pd.DataFrame(nba_dict)
nba_df

              city                basketballteam
0           Boston                Boston Celtics
1         New York               New York Knicks
2     Philadelphia            Philadelphia 76ers
3         Brooklyn                 Brooklyn Nets
4          Toronto               Toronto Raptors
5        Cleveland           Cleveland Cavaliers
6          Chicago                 Chicago Bulls
7          Detroit               Detroit Pistons
8        Milwaukee               Milwaukee Bucks
9     Indianapolis                Indiana Pacers
10         Atlanta                 Atlanta Hawks
11      Washington            Washington Wizards
12         Orlando                 Orlando Magic
13           Miami                    Miami Heat
14       Charlotte             Charlotte Hornets
15     Los Angeles  [L.A. Lakers, L.A. Clippers]
16   San Francisco         Golden State Warriors
17        Portland         Portland Trailblazers
18      Sacramento              Sacramento Kings
19         Phoenix                  Phoenix Suns
20     San Antonio             San Antonio Spurs
21          Dallas              Dallas Mavericks
22         Houston               Houston Rockets
23   Oklahoma City         Oklahoma City Thunder
24     Minneapolis        Minnesota Timberwolves
25          Denver                Denver Nuggets
26  Salt Lake City                     Utah Jazz
27         Memphis             Memphis Grizzlies
28     New Orleans          New Orleans Pelicans

In [32]:
sportsteams = sqlite3.connect('sportsteams.db')

In [33]:
nba_df.basketballteam = nba_df.basketballteam.astype('string')
nfl_df.footballteam = nfl_df.footballteam.astype('string')
#Getting it to the right format

In [34]:
nfl_df.to_sql('nfl', sportsteams, index=False, chunksize = 1000, if_exists='replace')
nba_df.to_sql('nba', sportsteams, index=False, chunksize = 1000, if_exists='replace')

29

In [35]:
myquery = '''
SELECT * 
FROM nfl
'''

pd.read_sql(myquery, sportsteams)
#select all columns/rows from NFL

             city                          footballteam
0         Buffalo                         Buffalo Bills
1           Miami                        Miami Dolphins
2          Boston                  New England Patriots
3        New York  ['New York Jets', 'New York Giants']
4       Cleveland                      Cleveland Browns
5      Cincinnati                    Cincinnati Bengals
6      Pittsburgh                   Pittsburgh Steelers
7       Baltimore                      Baltimore Ravens
8     Kansas City                    Kansas City Chiefs
9       Las Vegas                     Las Vegas Raiders
10    Los Angeles        ['L.A. Chargers', 'L.A. Rams']
11         Denver                        Denver Broncos
12      Nashville                      Tennessee Titans
13   Jacksonville                  Jacksonville Jaguars
14        Houston                        Houston Texans
15   Indianapolis                    Indianapolis Colts
16   Philadelphia                   Philadelphia Eagles
17         Dallas                        Dallas Cowboys
18     Washington               Washington Bunnyrabbits
19        Atlanta                       Atlanta Falcons
20      Charlotte                     Carolina Panthers
21      Tampa Bay                  Tampa Bay Buccaneers
22    New Orleans                    New Orleans Saints
23  San Francisco                   San Francisco 49ers
24        Phoenix                     Arizona Cardinals
25        Seattle                      Seattle Seahawks
26        Chicago                         Chicago Bears
27      Green Bay                     Green Bay Packers
28    Minneapolis                     Minnesota Vikings
29        Detroit                         Detroit Lions

In [36]:
myquery = '''
SELECT * 
FROM nfl
INNER JOIN nba
    ON nfl.city = nba.city
'''
#Inner join only keeps rows where it found the exact same city in both tables - delete everything that doesn't match in both 

pd.read_sql(myquery, sportsteams)

,city,footballteam,city,basketballteam
0,Miami,Miami Dolphins,Miami,Miami Heat
1,Boston,New England Patriots,Boston,Boston Celtics
2,New York,"['New York Jets', 'New York Giants']",New York,New York Knicks
3,Cleveland,Cleveland Browns,Cleveland,Cleveland Cavaliers
4,Los Angeles,"['L.A. Chargers', 'L.A. Rams']",Los Angeles,"['L.A. Lakers', 'L.A. Clippers']"
5,Denver,Denver Broncos,Denver,Denver Nuggets
6,Houston,Houston Texans,Houston,Houston Rockets
7,Indianapolis,Indianapolis Colts,Indianapolis,Indiana Pacers
8,Philadelphia,Philadelphia Eagles,Philadelphia,Philadelphia 76ers
9,Dallas,Dallas Cowboys,Dallas,Dallas Mavericks
10,Washington,Washington Bunnyrabbits,Washington,Washington Wizards
11,Atlanta,Atlanta Falcons,Atlanta,Atlanta Hawks
12,Charlotte,Carolina Panthers,Charlotte,Charlotte Hornets
13,New Orleans,New Orleans Saints,New Orleans,New Orleans Pelicans
14,San Francisco,San Francisco 49ers,San Francisco,Golden State Warriors
15,Phoenix,Arizona Cardinals,Phoenix,Phoenix Suns
16,Chicago,Chicago Bears,Chicago,Chicago Bulls
17,Minneapolis,Minnesota Vikings,Minneapolis,Minnesota Timberwolves
18,Detroit,Detroit Lions,Detroit,Detroit Pistons

In [37]:
myquery = '''
SELECT * 
FROM nfl
LEFT JOIN nba
    ON nfl.city = nba.city
'''
#Left is the name of the table you right under FROM and right is the name that is under left join 
#Keeps every city that has an NFL team but only NBA teams that are in the same city as an NFL team 
#Right would do the opposite 
#Full join would allow us to keep everything 
#Antijoin - give me all the rows in one dataset that have no match to the other - might be important if you have a list of customers
#and a list of customers who have paid their invoice- this would pull those who haven't paid yet

pd.read_sql(myquery, sportsteams)

,city,footballteam,city,basketballteam
0,Buffalo,Buffalo Bills,None,None
1,Miami,Miami Dolphins,Miami,Miami Heat
2,Boston,New England Patriots,Boston,Boston Celtics
3,New York,"['New York Jets', 'New York Giants']",New York,New York Knicks
4,Cleveland,Cleveland Browns,Cleveland,Cleveland Cavaliers
5,Cincinnati,Cincinnati Bengals,None,None
6,Pittsburgh,Pittsburgh Steelers,None,None
7,Baltimore,Baltimore Ravens,None,None
8,Kansas City,Kansas City Chiefs,None,None
9,Las Vegas,Las Vegas Raiders,None,None
10,Los Angeles,"['L.A. Chargers', 'L.A. Rams']",Los Angeles,"['L.A. Lakers', 'L.A. Clippers']"
11,Denver,Denver Broncos,Denver,Denver Nuggets
12,Nashville,Tennessee Titans,None,None
13,Jacksonville,Jacksonville Jaguars,None,None
14,Houston,Houston Texans,Houston,Houston Rockets
15,Indianapolis,Indianapolis Colts,Indianapolis,Indiana Pacers
16,Philadelphia,Philadelphia Eagles,Philadelphia,Philadelphia 76ers
17,Dallas,Dallas Cowboys,Dallas,Dallas Mavericks
18,Washington,Washington Bunnyrabbits,Washington,Washington Wizards
19,Atlanta,Atlanta Falcons,Atlanta,Atlanta Hawks
20,Charlotte,Carolina Panthers,Charlotte,Charlotte Hornets
21,Tampa Bay,Tampa Bay Buccaneers,None,None
22,New Orleans,New Orleans Saints,New Orleans,New Orleans Pelicans
23,San Francisco,San Francisco 49ers,San Francisco,Golden State Warriors
24,Phoenix,Arizona Cardinals,Phoenix,Phoenix Suns
25,Seattle,Seattle Seahawks,None,None
26,Chicago,Chicago Bears,Chicago,Chicago Bulls
27,Green Bay,Green Bay Packers,None,None
28,Minneapolis,Minnesota Vikings,Minneapolis,Minnesota Timberwolves
29,Detroit,Detroit Lions,Detroit,Detroit Pistons

In [38]:
myquery = '''
SELECT * 
FROM nfl
LEFT JOIN nba
    ON nfl.city = nba.city
WHERE nba.city is NULL
'''
#antijoin that shows all cities that have an NFL team but no NBA team

pd.read_sql(myquery, sportsteams)

            city          footballteam  city basketballteam
0        Buffalo         Buffalo Bills  None           None
1     Cincinnati    Cincinnati Bengals  None           None
2     Pittsburgh   Pittsburgh Steelers  None           None
3      Baltimore      Baltimore Ravens  None           None
4    Kansas City    Kansas City Chiefs  None           None
5      Las Vegas     Las Vegas Raiders  None           None
6      Nashville      Tennessee Titans  None           None
7   Jacksonville  Jacksonville Jaguars  None           None
8      Tampa Bay  Tampa Bay Buccaneers  None           None
9        Seattle      Seattle Seahawks  None           None
10     Green Bay     Green Bay Packers  None           None

In [39]:
myquery = '''
SELECT * 
FROM nfl f
LEFT JOIN nba b
    ON f.city = b.city
'''
#using an alias

pd.read_sql(myquery, sportsteams)

,city,footballteam,city,basketballteam
0,Buffalo,Buffalo Bills,None,None
1,Miami,Miami Dolphins,Miami,Miami Heat
2,Boston,New England Patriots,Boston,Boston Celtics
3,New York,"['New York Jets', 'New York Giants']",New York,New York Knicks
4,Cleveland,Cleveland Browns,Cleveland,Cleveland Cavaliers
5,Cincinnati,Cincinnati Bengals,None,None
6,Pittsburgh,Pittsburgh Steelers,None,None
7,Baltimore,Baltimore Ravens,None,None
8,Kansas City,Kansas City Chiefs,None,None
9,Las Vegas,Las Vegas Raiders,None,None
10,Los Angeles,"['L.A. Chargers', 'L.A. Rams']",Los Angeles,"['L.A. Lakers', 'L.A. Clippers']"
11,Denver,Denver Broncos,Denver,Denver Nuggets
12,Nashville,Tennessee Titans,None,None
13,Jacksonville,Jacksonville Jaguars,None,None
14,Houston,Houston Texans,Houston,Houston Rockets
15,Indianapolis,Indianapolis Colts,Indianapolis,Indiana Pacers
16,Philadelphia,Philadelphia Eagles,Philadelphia,Philadelphia 76ers
17,Dallas,Dallas Cowboys,Dallas,Dallas Mavericks
18,Washington,Washington Bunnyrabbits,Washington,Washington Wizards
19,Atlanta,Atlanta Falcons,Atlanta,Atlanta Hawks
20,Charlotte,Carolina Panthers,Charlotte,Charlotte Hornets
21,Tampa Bay,Tampa Bay Buccaneers,None,None
22,New Orleans,New Orleans Saints,New Orleans,New Orleans Pelicans
23,San Francisco,San Francisco 49ers,San Francisco,Golden State Warriors
24,Phoenix,Arizona Cardinals,Phoenix,Phoenix Suns
25,Seattle,Seattle Seahawks,None,None
26,Chicago,Chicago Bears,Chicago,Chicago Bulls
27,Green Bay,Green Bay Packers,None,None
28,Minneapolis,Minnesota Vikings,Minneapolis,Minnesota Timberwolves
29,Detroit,Detroit Lions,Detroit,Detroit Pistons

In [40]:
#goal- who was the high scoring player for each game and each team 
#to do this we need to merge team_game player_game and players
#start by mergin team_game and player_game

myquery = '''
SELECT *
FROM teamgame t
INNER JOIN playergame pg
    ON t.game_id = pg.game_id 
INNER JOIN players p
    ON pg.player_id = p.player_id
'''

pd.read_sql(myquery, nba_db)

,Team_Abbrev,game_id,H_A,Team_Score,Team_pace,Team_efg_pct,Team_tov_pct,Team_ft_rate,Team_off_rtg,Opponent_Abbrev,...,pts,plus_minus,did_not_play,is_inactive,off_rtg,def_rtg,bpm,game_player_id,player_id,player
0,IND,202204100BRK,A,126,103.9,0.543,5.9,0.125,121.3,BRK,...,0,0,1,0,0,0,0.0,202204100BRK_aldrila01,aldrila01,LaMarcus Aldridge
1,IND,202204100BRK,A,126,103.9,0.543,5.9,0.125,121.3,BRK,...,21,0,0,0,123,113,2.8,202204100BRK_brownbr01,brownbr01,Bruce Brown
2,IND,202204100BRK,A,126,103.9,0.543,5.9,0.125,121.3,BRK,...,14,7,0,0,184,124,8.6,202204100BRK_claxtni01,claxtni01,Nic Claxton
3,IND,202204100BRK,A,126,103.9,0.543,5.9,0.125,121.3,BRK,...,0,0,1,1,0,0,0.0,202204100BRK_curryse01,curryse01,Seth Curry
4,IND,202204100BRK,A,126,103.9,0.543,5.9,0.125,121.3,BRK,...,20,-2,0,0,184,111,13.2,202204100BRK_drumman01,drumman01,Andre Drummond
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63211,MIN,202112270MIN,H,108,99.0,0.522,12.5,0.156,109.1,BOS,...,11,13,0,0,122,94,8.3,202112270MIN_monrogr01,monrogr01,Greg Monroe
63212,MIN,202112270MIN,H,108,99.0,0.522,12.5,0.156,109.1,BOS,...,29,8,0,0,138,108,10.7,202112270MIN_nowelja01,nowelja01,Jaylen Nowell
63213,MIN,202112270MIN,H,108,99.0,0.522,12.5,0.156,109.1,BOS,...,5,-2,0,0,97,104,0.2,202112270MIN_okogijo01,okogijo01,Josh Okogie
63214,MIN,202112270MIN,H,108,99.0,0.522,12.5,0.156,109.1,BOS,...,0,-6,0,0,0,104,-6.9,202112270MIN_silvach01,silvach01,Chris Silva
63215,MIN,202112270MIN,H,108,99.0,0.522,12.5,0.156,109.1,BOS,...,0,0,1,0,0,0,0.0,202112270MIN_tuckera01,tuckera01,Rayjon Tucker

In [41]:
#Select allows you to choose individual columns if you don't want them all 
#goal is to get high scoring player from each game - we currently have all players
#so let's select player name, points, game_id, and team abbreviation
#with select you can rename the columns too using AS - see below
#sort rows by points using ORDER BY points OR pg.pts, get it to descending order 
#using DESC
#Equivalent of head is LIMIT 10 OFFSET 5- takes top 10 after skipping first 5
#Where filters the rows - deletes rows that do not meet condition you set - looking at only players who played
#for or against cavs

myquery = '''
SELECT 
    p.player AS player_name,
    pg.pts AS points,
    t.game_id AS game, 
    t.Team_Abbrev AS team
FROM teamgame t
INNER JOIN playergame pg
    ON t.game_id = pg.game_id 
INNER JOIN players p
    ON pg.player_id = p.player_id
WHERE team = 'CLE'
ORDER BY points DESC
LIMIT 10 OFFSET 5
'''

pd.read_sql(myquery, nba_db)

        player_name  points          game team
0       Joel Embiid      40  202202120PHI  CLE
1     Stephen Curry      40  202111180CLE  CLE
2      LeBron James      38  202203210CLE  CLE
3         Ja Morant      37  202110200MEM  CLE
4       Ricky Rubio      37  202111070NYK  CLE
5      Kevin Durant      36  202204080BRK  CLE
6       Luka Doncic      35  202203300CLE  CLE
7     Pascal Siakam      35  202203240TOR  CLE
8       Joel Embiid      35  202203160CLE  CLE
9  Donovan Mitchell      35  202112050CLE  CLE

In [42]:
#between pulls points between 18 and 20 
myquery = '''
SELECT 
    p.player AS player_name,
    pg.pts AS points,
    t.game_id AS game, 
    t.Team_Abbrev AS team
FROM teamgame t
INNER JOIN playergame pg
    ON t.game_id = pg.game_id 
INNER JOIN players p
    ON pg.player_id = p.player_id
WHERE pg.pts BETWEEN 18 and 20
ORDER BY points DESC
LIMIT 10 OFFSET 5
'''

pd.read_sql(myquery, nba_db)

     player_name  points          game team
0  Corey Kispert      20  202204100CHO  WAS
1   Luke Kennard      20  202204100LAC  LAC
2   Luke Kennard      20  202204100LAC  OKC
3   Santi Aldama      20  202204100MEM  BOS
4   Santi Aldama      20  202204100MEM  MEM
5  Javonte Smart      20  202204100ORL  MIA
6  Javonte Smart      20  202204100ORL  ORL
7     Luka Garza      20  202204100PHI  DET
8     Luka Garza      20  202204100PHI  PHI
9   Reggie Perry      20  202204100POR  POR

In [43]:
#can also use where to filter using columns that are not in your resulting table but are in one of the ones you used in your query 
#Pulls the players who took more than 15 three pointer attempts - filtered by 3 point attempts but didn't include it in our table
myquery = '''
SELECT 
    p.player AS player_name,
    pg.pts AS points,
    t.game_id AS game, 
    t.Team_Abbrev AS team
FROM teamgame t
INNER JOIN playergame pg
    ON t.game_id = pg.game_id 
INNER JOIN players p
    ON pg.player_id = p.player_id
WHERE pg.fg3a>15
ORDER BY points DESC
'''

pd.read_sql(myquery, nba_db)

         player_name  points          game team
0      Stephen Curry      50  202111080GSW  ATL
1      Stephen Curry      50  202111080GSW  GSW
2      Julius Randle      46  202203070SAC  NYK
3      Julius Randle      46  202203070SAC  SAC
4   Robert Covington      43  202204010MIL  LAC
5   Robert Covington      43  202204010MIL  MIL
6    Anfernee Simons      43  202201030POR  ATL
7    Anfernee Simons      43  202201030POR  POR
8       Kyrie Irving      42  202204050BRK  BRK
9       Kyrie Irving      42  202204050BRK  HOU
10     Stephen Curry      40  202111120GSW  CHI
11     Stephen Curry      40  202111120GSW  GSW
12     Stephen Curry      40  202111180CLE  CLE
13     Stephen Curry      40  202111180CLE  GSW
14     Stephen Curry      39  202201200GSW  GSW
15     Stephen Curry      39  202201200GSW  IND
16   Anfernee Simons      38  202203050MIN  MIN
17   Anfernee Simons      38  202203050MIN  POR
18     Klay Thompson      37  202203250ATL  ATL
19     Klay Thompson      37  202203250ATL  GSW
20     Klay Thompson      36  202204020GSW  GSW
21     Klay Thompson      36  202204020GSW  UTA
22     Stephen Curry      36  202110280GSW  GSW
23     Stephen Curry      36  202110280GSW  MEM
24      Terry Rozier      35  202202120CHO  CHO
25      Terry Rozier      35  202202120CHO  MEM
26  Bojan Bogdanovic      35  202203060OKC  OKC
27  Bojan Bogdanovic      35  202203060OKC  UTA
28     Stephen Curry      35  202202100GSW  GSW
29     Stephen Curry      35  202202100GSW  NYK
30     Stephen Curry      34  202203010MIN  GSW
31     Stephen Curry      34  202203010MIN  MIN
32     Malik Beasley      33  202203090MIN  MIN
33     Malik Beasley      33  202203090MIN  OKC
34     Malik Beasley      33  202112230UTA  MIN
35     Malik Beasley      33  202112230UTA  UTA
36     Stephen Curry      33  202112250PHO  GSW
37     Stephen Curry      33  202112250PHO  PHO
38     Fred VanVleet      32  202201090TOR  NOP
39     Fred VanVleet      32  202201090TOR  TOR
40      Jordan Poole      31  202111030GSW  CHO
41      Jordan Poole      31  202111030GSW  GSW
42      Terry Rozier      31  202111270HOU  CHO
43      Terry Rozier      31  202111270HOU  HOU
44   Anfernee Simons      31  202202140MIL  MIL
45   Anfernee Simons      31  202202140MIL  POR
46    Damian Lillard      31  202112140POR  PHO
47    Damian Lillard      31  202112140POR  POR
48  Donovan Mitchell      29  202203140UTA  MIL
49  Donovan Mitchell      29  202203140UTA  UTA
50      Ben McLemore      28  202203280POR  OKC
51      Ben McLemore      28  202203280POR  POR
52         Max Strus      27  202201310BOS  BOS
53         Max Strus      27  202201310BOS  MIA
54   Duncan Robinson      27  202201080PHO  MIA
55   Duncan Robinson      27  202201080PHO  PHO
56     Stephen Curry      27  202112040GSW  GSW
57     Stephen Curry      27  202112040GSW  SAS
58   Duncan Robinson      26  202112280MIA  MIA
59   Duncan Robinson      26  202112280MIA  WAS
60       Buddy Hield      26  202111050SAC  CHO
61       Buddy Hield      26  202111050SAC  SAC
62     Fred VanVleet      22  202201170MIA  MIA
63     Fred VanVleet      22  202201170MIA  TOR
64     Stephen Curry      22  202112080GSW  GSW
65     Stephen Curry      22  202112080GSW  POR
66    Reggie Jackson      21  202111160LAC  LAC
67    Reggie Jackson      21  202111160LAC  SAS
68     Malik Beasley      20  202112280MIN  MIN
69     Malik Beasley      20  202112280MIN  NYK
70     Fred VanVleet      19  202204010ORL  ORL
71     Fred VanVleet      19  202204010ORL  TOR
72     Malik Beasley      18  202111050MIN  LAC
73     Malik Beasley      18  202111050MIN  MIN
74   Duncan Robinson      16  202111040MIA  BOS
75   Duncan Robinson      16  202111040MIA  MIA
76       Buddy Hield      16  202112220SAC  LAC
77       Buddy Hield      16  202112220SAC  SAC

In [48]:
#WHERE can also filter by more than 1 thing, or, and not are other connectors
myquery = '''
SELECT 
    p.player AS player_name,
    pg.pts AS points,
    t.game_id AS game, 
    t.Team_Abbrev AS team
FROM teamgame t
INNER JOIN playergame pg
    ON t.game_id = pg.game_id 
INNER JOIN players p
    ON pg.player_id = p.player_id
WHERE pg.fg3a>15 AND pg.fta<5
ORDER BY points DESC
'''

pd.read_sql(myquery, nba_db)

         player_name  points          game team
0      Julius Randle      46  202203070SAC  NYK
1      Julius Randle      46  202203070SAC  SAC
2   Robert Covington      43  202204010MIL  LAC
3   Robert Covington      43  202204010MIL  MIL
4      Stephen Curry      40  202111120GSW  CHI
5      Stephen Curry      40  202111120GSW  GSW
6      Stephen Curry      40  202111180CLE  CLE
7      Stephen Curry      40  202111180CLE  GSW
8      Klay Thompson      37  202203250ATL  ATL
9      Klay Thompson      37  202203250ATL  GSW
10     Klay Thompson      36  202204020GSW  GSW
11     Klay Thompson      36  202204020GSW  UTA
12  Bojan Bogdanovic      35  202203060OKC  OKC
13  Bojan Bogdanovic      35  202203060OKC  UTA
14     Malik Beasley      33  202203090MIN  MIN
15     Malik Beasley      33  202203090MIN  OKC
16     Malik Beasley      33  202112230UTA  MIN
17     Malik Beasley      33  202112230UTA  UTA
18     Fred VanVleet      32  202201090TOR  NOP
19     Fred VanVleet      32  202201090TOR  TOR
20      Jordan Poole      31  202111030GSW  CHO
21      Jordan Poole      31  202111030GSW  GSW
22   Anfernee Simons      31  202202140MIL  MIL
23   Anfernee Simons      31  202202140MIL  POR
24  Donovan Mitchell      29  202203140UTA  MIL
25  Donovan Mitchell      29  202203140UTA  UTA
26      Ben McLemore      28  202203280POR  OKC
27      Ben McLemore      28  202203280POR  POR
28         Max Strus      27  202201310BOS  BOS
29         Max Strus      27  202201310BOS  MIA
30   Duncan Robinson      27  202201080PHO  MIA
31   Duncan Robinson      27  202201080PHO  PHO
32   Duncan Robinson      26  202112280MIA  MIA
33   Duncan Robinson      26  202112280MIA  WAS
34       Buddy Hield      26  202111050SAC  CHO
35       Buddy Hield      26  202111050SAC  SAC
36     Fred VanVleet      22  202201170MIA  MIA
37     Fred VanVleet      22  202201170MIA  TOR
38     Stephen Curry      22  202112080GSW  GSW
39     Stephen Curry      22  202112080GSW  POR
40    Reggie Jackson      21  202111160LAC  LAC
41    Reggie Jackson      21  202111160LAC  SAS
42     Malik Beasley      20  202112280MIN  MIN
43     Malik Beasley      20  202112280MIN  NYK
44     Fred VanVleet      19  202204010ORL  ORL
45     Fred VanVleet      19  202204010ORL  TOR
46     Malik Beasley      18  202111050MIN  LAC
47     Malik Beasley      18  202111050MIN  MIN
48   Duncan Robinson      16  202111040MIA  BOS
49   Duncan Robinson      16  202111040MIA  MIA
50       Buddy Hield      16  202112220SAC  LAC
51       Buddy Hield      16  202112220SAC  SAC

In [56]:
#using like to get all players with kropko's initals, can use % or %% 
myquery = '''
SELECT 
    p.player AS player_name,
    pg.pts AS points,
    t.game_id AS game, 
    t.Team_Abbrev AS team,
    pg.fg3a
FROM teamgame t
INNER JOIN playergame pg
    ON t.game_id = pg.game_id AND t.Team_Abbrev = pg.Team_Abbrev
INNER JOIN players p
    ON pg.player_id = p.player_id
WHERE p.player LIKE 'j% k%'
ORDER BY points DESC
'''

pd.read_sql(myquery, nba_db)

          player_name  points          game team  fg3a
0    Jonathan Kuminga      26  202112180TOR  GSW     6
1    Jonathan Kuminga      25  202201140CHI  GSW     4
2    Jonathan Kuminga      22  202201250GSW  GSW     4
3    Jonathan Kuminga      22  202203230MIA  GSW     3
4    Jonathan Kuminga      21  202203080GSW  GSW     3
..                ...     ...           ...  ...   ...
142  Jonathan Kuminga       0  202111300PHO  GSW     0
143  Jonathan Kuminga       0  202201090GSW  GSW     0
144  Jonathan Kuminga       0  202201230GSW  GSW     1
145  Jonathan Kuminga       0  202203300GSW  GSW     0
146  Jonathan Kuminga       0  202204020GSW  GSW     0

[147 rows x 5 columns]

### Logic problems with SQL

In [65]:
#Pull win/loss record for a team- do this by comparing points for each team in each game
#Filter to columns we need
#Join table to itself merging based on game_id and matching team_abbrev to opponent_abbrev
myquery = '''
SELECT 
    t.game_id,
    t.Team_Abbrev, 
    t.Team_Score, 
    t.Opponent_Abbrev,
    o.Team_Score AS Opponent_Score,
    (t.Team_Score > o.Team_Score) AS win,
    (t.Team_Score < o.Team_Score) AS loss
FROM teamgame t
INNER JOIN teamgame o
    ON t.game_id = o.game_id AND t.Team_Abbrev = o.Opponent_Abbrev
'''

pd.read_sql(myquery, nba_db)

,game_id,Team_Abbrev,Team_Score,Opponent_Abbrev,Opponent_Score,win,loss
0,202204100BRK,IND,126,BRK,134,0,1
1,202204100BRK,BRK,134,IND,126,1,0
2,202204100CHO,WAS,108,CHO,124,0,1
3,202204100CHO,CHO,124,WAS,108,1,0
4,202204100CLE,MIL,115,CLE,133,0,1
...,...,...,...,...,...,...,...
2455,202112190MIN,MIN,111,DAL,105,1,0
2456,202112210DAL,MIN,102,DAL,114,0,1
2457,202112280MIN,MIN,88,NYK,96,0,1
2458,202112230UTA,MIN,116,UTA,128,0,1
2459,202112270MIN,MIN,108,BOS,103,1,0

In [67]:
#now aggregate to level of team to get the overall win/loss record
#we don't want score, opponent_abbrev, or game_id since they vary by game and we cannot collapse on them
#SUM creates the win/loss record for all the teams 
#If you cannot aggregate it delete it 
myquery = '''
SELECT 
    t.Team_Abbrev, 
    SUM(t.Team_Score > o.Team_Score) AS win,
    SUM(t.Team_Score < o.Team_Score) AS loss
FROM teamgame t
INNER JOIN teamgame o
    ON t.game_id = o.game_id AND t.Team_Abbrev = o.Opponent_Abbrev
GROUP BY t.Team_Abbrev 
'''

pd.read_sql(myquery, nba_db)

   Team_Abbrev  win  loss
0          ATL   43    39
1          BOS   51    31
2          BRK   44    38
3          CHI   46    36
4          CHO   43    39
5          CLE   44    38
6          DAL   52    30
7          DEN   48    34
8          DET   23    59
9          GSW   53    29
10         HOU   20    62
11         IND   25    57
12         LAC   42    40
13         LAL   33    49
14         MEM   56    26
15         MIA   53    29
16         MIL   51    31
17         MIN   46    36
18         NOP   36    46
19         NYK   37    45
20         OKC   24    58
21         ORL   22    60
22         PHI   51    31
23         PHO   64    18
24         POR   27    55
25         SAC   30    52
26         SAS   34    48
27         TOR   48    34
28         UTA   49    33
29         WAS   35    47

### Subqueries: Add in winning percentage and sort

In [74]:
#winning percentage, sort so we can see the best teams
#order by win_percent and sort descending
#subquery in parentheses to put entire query that constructs the table above

myquery = '''
SELECT 
    Team_Abbrev,
    win,
    loss,
    CAST(win AS float) / (CAST(win AS float) + CAST(loss AS float)) AS win_percent
FROM (SELECT 
    t.Team_Abbrev, 
    SUM(t.Team_Score > o.Team_Score) AS win,
    SUM(t.Team_Score < o.Team_Score) AS loss
FROM teamgame t
INNER JOIN teamgame o
    ON t.game_id = o.game_id AND t.Team_Abbrev = o.Opponent_Abbrev
GROUP BY t.Team_Abbrev)
ORDER BY win_percent DESC
'''

pd.read_sql(myquery, nba_db)

   Team_Abbrev  win  loss  win_percent
0          PHO   64    18     0.780488
1          MEM   56    26     0.682927
2          GSW   53    29     0.646341
3          MIA   53    29     0.646341
4          DAL   52    30     0.634146
5          BOS   51    31     0.621951
6          MIL   51    31     0.621951
7          PHI   51    31     0.621951
8          UTA   49    33     0.597561
9          DEN   48    34     0.585366
10         TOR   48    34     0.585366
11         CHI   46    36     0.560976
12         MIN   46    36     0.560976
13         BRK   44    38     0.536585
14         CLE   44    38     0.536585
15         ATL   43    39     0.524390
16         CHO   43    39     0.524390
17         LAC   42    40     0.512195
18         NYK   37    45     0.451220
19         NOP   36    46     0.439024
20         WAS   35    47     0.426829
21         SAS   34    48     0.414634
22         LAL   33    49     0.402439
23         SAC   30    52     0.365854
24         POR   27    55     0.329268
25         IND   25    57     0.304878
26         OKC   24    58     0.292683
27         DET   23    59     0.280488
28         ORL   22    60     0.268293
29         HOU   20    62     0.243902

In [77]:
#Easier way to do subqueries- create a temporary table that you name- called common table expressions 
myquery = '''
WITH team_record AS (SELECT 
    t.Team_Abbrev, 
    SUM(t.Team_Score > o.Team_Score) AS win,
    SUM(t.Team_Score < o.Team_Score) AS loss
FROM teamgame t
INNER JOIN teamgame o
    ON t.game_id = o.game_id AND t.Team_Abbrev = o.Opponent_Abbrev
GROUP BY t.Team_Abbrev)

SELECT 
    Team_Abbrev,
    win,
    loss,
    CAST(win AS float) / (CAST(win AS float) + CAST(loss AS float)) AS win_percent
FROM team_record
ORDER BY win_percent DESC
'''

pd.read_sql(myquery, nba_db)

   Team_Abbrev  win  loss  win_percent
0          PHO   64    18     0.780488
1          MEM   56    26     0.682927
2          GSW   53    29     0.646341
3          MIA   53    29     0.646341
4          DAL   52    30     0.634146
5          BOS   51    31     0.621951
6          MIL   51    31     0.621951
7          PHI   51    31     0.621951
8          UTA   49    33     0.597561
9          DEN   48    34     0.585366
10         TOR   48    34     0.585366
11         CHI   46    36     0.560976
12         MIN   46    36     0.560976
13         BRK   44    38     0.536585
14         CLE   44    38     0.536585
15         ATL   43    39     0.524390
16         CHO   43    39     0.524390
17         LAC   42    40     0.512195
18         NYK   37    45     0.451220
19         NOP   36    46     0.439024
20         WAS   35    47     0.426829
21         SAS   34    48     0.414634
22         LAL   33    49     0.402439
23         SAC   30    52     0.365854
24         POR   27    55     0.329268
25         IND   25    57     0.304878
26         OKC   24    58     0.292683
27         DET   23    59     0.280488
28         ORL   22    60     0.268293
29         HOU   20    62     0.243902

## Build ER Diagram

In [46]:
nba_playergame.columns

Index(['game_id', 'Team_Abbrev', 'player_id', 'starter', 'mp', 'fg', 'fga',
       'fg3', 'fg3a', 'ft', 'fta', 'orb', 'drb', 'ast', 'stl', 'blk', 'tov',
       'pf', 'pts', 'plus_minus', 'did_not_play', 'is_inactive', 'off_rtg',
       'def_rtg', 'bpm', 'game_player_id'],
      dtype='object')

In [68]:
#Rest in dbdocs file